<!DOCTYPE html>
<html>
<head>
	<title>Set up</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
	<style>
		body {
  			margin: 0;
  			font-family: Arial, Helvetica, sans-serif;
  			font-size: 12px;
		}

		.topnav {
  			overflow: hidden;
  			background-color: #333;
  			border-radius: 20px;
		}

		.topnav a {
  			float: left;
  			color: #f2f2f2;
  			text-align: center;
  			padding: 14px 16px;
  			text-decoration: none;
  			font-size: 12px;
		}

		.topnav a:hover {
  			background-color: #ddd;
  			color: black;
		}

		.topnav a.active {
  			background-color: #4CAF50;
  			color: white;
		}

		.about {
			text-align: right;
		}

		.x1 {
			border: 1px solid #008000;
			width: 300px;
			text-align: center;
		}

		.c1 {
			color: #F0FFF0;
		}

		.c2 {
			border: 2px solid #6B8E23;
			width: 5%;
			text-align: center;
			font-weight: 700;
			background-color: #808000;
		}

		.c3 {
			width: 45%;
			font-weight: 700;
			border-bottom: 2px solid #6B8E23;
			background-color: #808000;
		}
		.c4 {
			width: 50%;
			border-bottom: 2px solid #6B8E23;
		}
		.c5 {
			background-color: #808000;
			border-bottom: 2px solid #6B8E23;
		}
		.v1 {
			color: #F0FFF0;
			background-color: #808000;
			max-width: 100px;
 			overflow: hidden;
 			text-overflow: ellipsis;
 			white-space: nowrap;
 			text-align: center;
		}
		.v2{
			border: 1px solid #6B8E23;
		}
		.v3{
			border: 1px solid #6B8E23;
			width: 90%;
		}
		@import url(https://fonts.googleapis.com/css?kit=o--8Et3j0xElSo4Jk-6CSHuFAy-tdinbXajKpPHjtUMWI9_PBwoar9HOL9iir4o_D_8jKv9-qFhZ86mTxaknjssXT3WRcGrrUlQxvFF6SFk);
	</style>
</head>
<body>

	<ul class="nav nav-tabs">
	  <li class="nav-item">
	    <a class="nav-link active" href="#">Setup</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Database</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Summary</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Dashboard</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">How to use</a>
	  </li>
	  <li class="nav-item about">
	    <a class="nav-link" href="#">About</a>
	  </li>
	</ul>
<br>
	<div class="container">
        <h4>NOTE: This is under Development</h4>
		<!-- COMPANY INFORMATION start -->
		<table>
			<tbody>
				<tr class="c1">
					<td class="c2">1</td>
					<td class="c5"> </td>
					<td class="c5"> </td>
					<td class="c5"> </td>
					<td class="c5"> </td>
					<td class="c5"> </td>
					<td class="c3">COMPANY INFORMATION</td>
					<td class="c4"></td>
				</tr>
			</tbody>
		</table>
		<br>
		<table>
			<tbody>
				<tr>
					<td> </td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr style="height: 20px">
					<td>Name </td>
					<td>:</td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td class="x1">Xtendops BPO</td>
				</tr>
				<tr style="height: 20px">
					<td>Address </td>
					<td>:</td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td class="x1"></td>
				</tr>
				<tr style="height: 20px">
					<td>City </td>
					<td>:</td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td class="x1"></td>
				</tr>
				<tr style="height: 20px">
					<td>State </td>
					<td>:</td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td class="x1"></td>
				</tr>
				<tr style="height: 20px">
					<td>Country </td>
					<td>:</td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td class="x1"></td>
				</tr>
				<tr style="height: 20px">
					<td>ZIP Code </td>
					<td>:</td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td class="x1"></td>
				</tr>
				<tr style="height: 20px">
					<td>Phone </td>
					<td>:</td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td class="x1"></td>
				</tr>
				<tr style="height: 20px">
					<td>Fax </td>
					<td>:</td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td class="x1"></td>
				</tr>
				<tr style="height: 20px">
					<td>Website </td>
					<td>:</td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td class="x1"></td>
				</tr>
				<tr style="height: 20px">
					<td>Email </td>
					<td>:</td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td class="x1"></td>
				</tr>
				<tr style="height: 20px">
					<td>Tax ID </td>
					<td>:</td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td class="x1"></td>
				</tr>
			</tbody>
		</table>
		<!-- COMPANY INFORMATION start -->
		<br>
		<br>
		<!-- COMPANY ORGANIZATION STRUCTURE start -->
		<table>
			<tbody>
				<tr class="c1">
					<td class="c2">2</td>
					<td class="c5"> </td>
					<td class="c5"> </td>
					<td class="c5"> </td>
					<td class="c5"> </td>
					<td class="c5"> </td>
					<td class="c3">COMPANY ORGANIZATION STRUCTURE</td>
					<td class="c4"></td>
				</tr>
			</tbody>
		</table>
		<br>
		<div class="row">
  			<div class="col">
  				<!-- DIVISION start -->
  				<table>
  					<thead class="v1">
  						<td>DIVISION :</td>
  						<td>NO</td>
  						<td>NAME</td>
  					</thead>
  					<tbody>
  						<tr>
	  						<td></td>
	  						<td class="v2">1</td>
	  						<td class="v3">Sales and Marketing</td>
  						</tr>
  						 <tr>
	  						<td></td>
	  						<td class="v2">2</td>
	  						<td class="v3">Logistic</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">3</td>
	  						<td class="v3">Finance</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">4</td>
	  						<td class="v3">General Affair</td>
  						</tr>
   						<tr>
	  						<td></td>
	  						<td class="v2">5</td>
	  						<td class="v3">Human Resources</td>
  						</tr>
   						<tr>
	  						<td></td>
	  						<td class="v2">6</td>
	  						<td class="v3">Operational</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">7</td>
	  						<td class="v3">Technical</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">8</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">9</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">10</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">11</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">12</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">13</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">14</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">15</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">16</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">17</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">18</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">19</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">20</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">21</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">22</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">23</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">24</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">25</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">26</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">27</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">28</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">29</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">30</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">31</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">32</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">33</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">34</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">35</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">36</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">37</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">38</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">39</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">40</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">41</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">42</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">43</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">44</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">45</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">46</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">47</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">48</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">49</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">50</td>
	  						<td class="v3"></td>
  						</tr>
  					</tbody>
  				</table>
  				<!-- DIVISION end -->
  			</div>
  			<div class="col">
  				<!-- DEPARTMENT start -->
  				<table>
  					<thead class="v1">
  						<td>DEPARTMENT :</td>
  						<td>NO</td>
  						<td>NAME</td>
  					</thead>
  					<tbody>
  						<tr>
	  						<td></td>
	  						<td class="v2">1</td>
	  						<td class="v3">Sales</td>
  						</tr>
  						 <tr>
	  						<td></td>
	  						<td class="v2">2</td>
	  						<td class="v3">Marketing</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">3</td>
	  						<td class="v3">Warehouse</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">4</td>
	  						<td class="v3">Inventory</td>
  						</tr>
   						<tr>
	  						<td></td>
	  						<td class="v2">5</td>
	  						<td class="v3">Treasury</td>
  						</tr>
   						<tr>
	  						<td></td>
	  						<td class="v2">6</td>
	  						<td class="v3">Budget</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">7</td>
	  						<td class="v3">General Affair</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">8</td>
	  						<td class="v3">Human Resources</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">9</td>
	  						<td class="v3">Secretary</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">10</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">11</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">12</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">13</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">14</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">15</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">16</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">17</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">18</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">19</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">20</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">21</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">22</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">23</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">24</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">25</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">26</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">27</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">28</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">29</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">30</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">31</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">32</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">33</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">34</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">35</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">36</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">37</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">38</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">39</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">40</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">41</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">42</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">43</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">44</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">45</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">46</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">47</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">48</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">49</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">50</td>
	  						<td class="v3"></td>
  						</tr>
  					</tbody>
  				</table>
  				<!-- DEPARTMENT start -->
  			</div>
  			<div class="col">
  				<!-- TITLE start -->
  				<table>
  					<thead class="v1">
  						<td>TITLE :</td>
  						<td>NO</td>
  						<td>NAME</td>
  					</thead>
  					<tbody>
  						<tr>
	  						<td></td>
	  						<td class="v2">1</td>
	  						<td class="v3">Director</td>
  						</tr>
  						 <tr>
	  						<td></td>
	  						<td class="v2">2</td>
	  						<td class="v3">Vice President</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">3</td>
	  						<td class="v3">General Manager</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">4</td>
	  						<td class="v3">Senior Manager</td>
  						</tr>
   						<tr>
	  						<td></td>
	  						<td class="v2">5</td>
	  						<td class="v3">Manager</td>
  						</tr>
   						<tr>
	  						<td></td>
	  						<td class="v2">6</td>
	  						<td class="v3">Supervisor</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">7</td>
	  						<td class="v3">Staff</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">8</td>
	  						<td class="v3">Junior Staff</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">9</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">10</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">11</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">12</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">13</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">14</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">15</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">16</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">17</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">18</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">19</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">20</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">21</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">22</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">23</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">24</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">25</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">26</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">27</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">28</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">29</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">30</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">31</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">32</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">33</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">34</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">35</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">36</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">37</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">38</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">39</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">40</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">41</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">42</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">43</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">44</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">45</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">46</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">47</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">48</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">49</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">50</td>
	  						<td class="v3"></td>
  						</tr>
  					</tbody>
  				</table>
  				<!-- TITLE end -->
  			</div>
  			<div class="col">
  				<!-- CLASSIFICATION start -->
  				<table>
  					<thead class="v1">
  						<td>CLASSIFICATION :</td>
  						<td>NO</td>
  						<td>NAME</td>
  					</thead>
  					<tbody>
  						<tr>
	  						<td></td>
	  						<td class="v2">1</td>
	  						<td class="v3">1-A</td>
  						</tr>
  						 <tr>
	  						<td></td>
	  						<td class="v2">2</td>
	  						<td class="v3">1-B</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">3</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">4</td>
	  						<td class="v3"></td>
  						</tr>
   						<tr>
	  						<td></td>
	  						<td class="v2">5</td>
	  						<td class="v3"></td>
  						</tr>
   						<tr>
	  						<td></td>
	  						<td class="v2">6</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">7</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">8</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">9</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">10</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">11</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">12</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">13</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">14</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">15</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">16</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">17</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">18</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">19</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">20</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">21</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">22</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">23</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">24</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">25</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">26</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">27</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">28</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">29</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">30</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">31</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">32</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">33</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">34</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">35</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">36</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">37</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">38</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">39</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">40</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">41</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">42</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">43</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">44</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">45</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">46</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">47</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">48</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">49</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">50</td>
	  						<td class="v3"></td>
  						</tr>
  					</tbody>
  				</table>
  				<!-- CLASSIFICATION end -->
  			</div>
		</div>
		<!-- COMPANY ORGANIZATION STRUCTURE end -->
		<br>
		<br>
		<!-- COMPANY LEAVES TYPES start -->
		<table>
			<tbody>
				<tr class="c1">
					<td class="c2">3</td>
					<td class="c5"> </td>
					<td class="c5"> </td>
					<td class="c5"> </td>
					<td class="c5"> </td>
					<td class="c5"> </td>
					<td class="c3">COMPANY LEAVES TYPES</td>
					<td class="c4"></td>
				</tr>
			</tbody>
		</table>
		<br>
		<div class="row">
		  <div class="col">
		  	<table>
  					<thead class="v1">
  						<td>PAID LEAVES :</td>
  						<td>NO</td>
  						<td>NAME</td>
  					</thead>
  					<tbody>
  						<tr>
	  						<td></td>
	  						<td class="v2">1</td>
	  						<td class="v3">Paid Leave 1</td>
  						</tr>
  						 <tr>
	  						<td></td>
	  						<td class="v2">2</td>
	  						<td class="v3">Paid Leave 2</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">3</td>
	  						<td class="v3">Paid Leave 3</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">4</td>
	  						<td class="v3">Paid Leave 4</td>
  						</tr>
   						<tr>
	  						<td></td>
	  						<td class="v2">5</td>
	  						<td class="v3">Paid Leave 5</td>
  						</tr>
   						<tr>
	  						<td></td>
	  						<td class="v2">6</td>
	  						<td class="v3">Paid Leave 6</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">7</td>
	  						<td class="v3">Paid Leave 7</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">8</td>
	  						<td class="v3">Paid Leave 8</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">9</td>
	  						<td class="v3">Paid Leave 9</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">10</td>
	  						<td class="v3">Paid Leave 10</td>
  						</tr>
  					</tbody>
  				</table>
		  </div>
		  <div class="col">
		  	<table>
  					<thead class="v1">
  						<td>UNPAID LEAVES :</td>
  						<td>NO</td>
  						<td>NAME</td>
  					</thead>
  					<tbody>
  						<tr>
	  						<td></td>
	  						<td class="v2">1</td>
	  						<td class="v3">Unpaid Leave 1</td>
  						</tr>
  						 <tr>
	  						<td></td>
	  						<td class="v2">2</td>
	  						<td class="v3">Unpaid Leave 2</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">3</td>
	  						<td class="v3">Unpaid Leave 3</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">4</td>
	  						<td class="v3">Unpaid Leave 4</td>
  						</tr>
   						<tr>
	  						<td></td>
	  						<td class="v2">5</td>
	  						<td class="v3">Unpaid Leave 5</td>
  						</tr>
   						<tr>
	  						<td></td>
	  						<td class="v2">6</td>
	  						<td class="v3">Unpaid Leave 6</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">7</td>
	  						<td class="v3">Unpaid Leave 7</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">8</td>
	  						<td class="v3">Unpaid Leave 8</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">9</td>
	  						<td class="v3">Unpaid Leave 9</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">10</td>
	  						<td class="v3">Unpaid Leave 10</td>
  						</tr>
  					</tbody>
  				</table>
		  </div>
		  <div class="col"></div>
		  <div class="col"></div>
		</div> <!-- COMPANY LEAVES TYPES end -->
		
		<br>
		<br>
		
		<table> <!-- COMPANY EMPLOYMENT TYPES start -->
			<tbody>
				<tr class="c1">
					<td class="c2">4</td>
					<td class="c5"> </td>
					<td class="c5"> </td>
					<td class="c5"> </td>
					<td class="c5"> </td>
					<td class="c5"> </td>
					<td class="c3">COMPANY EMPLOYMENT TYPES</td>
					<td class="c4"></td>
				</tr>
			</tbody>
		</table>
		<br>
		<div class="row">
		  <div class="col">
		  	<table>
  					<thead class="v1">
  						<td>EMPLOYMENT :</td>
  						<td>NO</td>
  						<td>NAME</td>
  					</thead>
  					<tbody>
  						<tr>
	  						<td></td>
	  						<td class="v2">1</td>
	  						<td class="v3">FULL TIME</td>
  						</tr>
  						 <tr>
	  						<td></td>
	  						<td class="v2">2</td>
	  						<td class="v3">PART TIME</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">3</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">4</td>
	  						<td class="v3"></td>
  						</tr>
   						<tr>
	  						<td></td>
	  						<td class="v2">5</td>
	  						<td class="v3"></td>
  						</tr>
  					</tbody>
  				</table>
		  </div>
		  <div class="col">
		  	<table>
  					<thead class="v1">
  						<td>EMPLOYMENT :</td>
  						<td>NO</td>
  						<td>NAME</td>
  					</thead>
  					<tbody>
  						<tr>
	  						<td></td>
	  						<td class="v2">1</td>
	  						<td class="v3">PERMANENT</td>
  						</tr>
  						 <tr>
	  						<td></td>
	  						<td class="v2">2</td>
	  						<td class="v3">CONTRACT</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">3</td>
	  						<td class="v3">PROBATION</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">4</td>
	  						<td class="v3">TRAINING</td>
  						</tr>
   						<tr>
	  						<td></td>
	  						<td class="v2">5</td>
	  						<td class="v3"></td>
  						</tr>
  					</tbody>
  				</table>
		  </div>
		  <div class="col"></div>
		  <div class="col"></div>
		</div> <!-- COMPANY EMPLOYMENT TYPES end -->
		<br>
		<br>
		<table> <!-- COMPANY BENEFIT PLAN and DEDUCTION start -->
			<tbody>
				<tr class="c1">
					<td class="c2">5</td>
					<td class="c5"> </td>
					<td class="c5"> </td>
					<td class="c5"> </td>
					<td class="c5"> </td>
					<td class="c5"> </td>
					<td class="c3">COMPANY BENEFIT PLAN and DEDUCTION</td>
					<td class="c4"></td>
				</tr>
			</tbody>
		</table>
		<br>
		<div class="row">
		  <div class="col">
		  	<table>
  					<thead class="v1">
  						<td>PLAN :</td>
  						<td>NO</td>
  						<td>NAME</td>
  					</thead>
  					<tbody>
  						<tr>
	  						<td></td>
	  						<td class="v2">1</td>
	  						<td class="v3">MEAL CARD</td>
  						</tr>
  						 <tr>
	  						<td></td>
	  						<td class="v2">2</td>
	  						<td class="v3">HEALTH SAVING PLAN</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">3</td>
	  						<td class="v3">PENSION PLAN</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">4</td>
	  						<td class="v3">GASOLINE</td>
  						</tr>
   						<tr>
	  						<td></td>
	  						<td class="v2">5</td>
	  						<td class="v3">INSURANCE</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">6</td>
	  						<td class="v3">Benefit Plan 6</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">7</td>
	  						<td class="v3">Benefit Plan 7</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">8</td>
	  						<td class="v3">Benefit Plan 8</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">9</td>
	  						<td class="v3">Benefit Plan 9</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">10</td>
	  						<td class="v3">Benefit Plan 10</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">11</td>
	  						<td class="v3">Benefit Plan 11</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">12</td>
	  						<td class="v3">Benefit Plan 12</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">13</td>
	  						<td class="v3">Benefit Plan 13</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">14</td>
	  						<td class="v3">Benefit Plan 14</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">15</td>
	  						<td class="v3">Benefit Plan 15</td>
  						</tr>
  					</tbody>
  				</table>
		  </div>
		  <div class="col">
		  	<table>
  					<thead class="v1">
  						<td>DEDUCTION :</td>
  						<td>NO</td>
  						<td>NAME</td>
  					</thead>
  					<tbody>
  						<tr>
	  						<td></td>
	  						<td class="v2">1</td>
	  						<td class="v3">TAX</td>
  						</tr>
  						 <tr>
	  						<td></td>
	  						<td class="v2">2</td>
	  						<td class="v3">Deduction Plan 2</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">3</td>
	  						<td class="v3">Deduction Plan 3</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">4</td>
	  						<td class="v3">Deduction Plan 4</td>
  						</tr>
   						<tr>
	  						<td></td>
	  						<td class="v2">5</td>
	  						<td class="v3">Deduction Plan 5</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">6</td>
	  						<td class="v3">Deduction Plan 6</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">7</td>
	  						<td class="v3">Deduction Plan 7</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">8</td>
	  						<td class="v3">Deduction Plan 8</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">9</td>
	  						<td class="v3">Deduction Plan 9</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">10</td>
	  						<td class="v3">Deduction Plan 10</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">11</td>
	  						<td class="v3">Deduction Plan 11</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">12</td>
	  						<td class="v3">Deduction Plan 12</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">13</td>
	  						<td class="v3">Deduction Plan 13</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">14</td>
	  						<td class="v3">Deduction Plan 14</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">15</td>
	  						<td class="v3">Deduction Plan 15</td>
  						</tr>
  					</tbody>
  				</table>
		  </div>
		  <div class="col"></div>
		  <div class="col"></div>
		</div> <!-- COMPANY BENEFIT PLAN and DEDUCTION end -->
		<br>
		<br>
		<table> <!-- COMPANY PROPERTIES start -->
			<tbody>
				<tr class="c1">
					<td class="c2">6</td>
					<td class="c5"> </td>
					<td class="c5"> </td>
					<td class="c5"> </td>
					<td class="c5"> </td>
					<td class="c5"> </td>
					<td class="c3">COMPANY PROPERTIES</td>
					<td class="c4"></td>
				</tr>
			</tbody>
		</table>
		<br>
		<div class="row">
		  <div class="col">
		  	<table>
  					<thead class="v1">
  						<td>PROPERTY :</td>
  						<td>NO</td>
  						<td>NAME</td>
  					</thead>
  					<tbody>
  						<tr>
	  						<td></td>
	  						<td class="v2">1</td>
	  						<td class="v3">HOUSE</td>
  						</tr>
  						 <tr>
	  						<td></td>
	  						<td class="v2">2</td>
	  						<td class="v3">APARTMENT</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">3</td>
	  						<td class="v3">CAR</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">4</td>
	  						<td class="v3">LAPTOP</td>
  						</tr>
   						<tr>
	  						<td></td>
	  						<td class="v2">5</td>
	  						<td class="v3">MOBILE PHONE</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">6</td>
	  						<td class="v3">DESKTOP COMPUTER</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">7</td>
	  						<td class="v3">Property 7</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">8</td>
	  						<td class="v3">Property 8</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">9</td>
	  						<td class="v3">Property 9</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">10</td>
	  						<td class="v3">Property 10</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">11</td>
	  						<td class="v3">Property 11</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">12</td>
	  						<td class="v3">Property 12</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">13</td>
	  						<td class="v3">Property 13</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">14</td>
	  						<td class="v3">Property 14</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">15</td>
	  						<td class="v3">Property 15</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">16</td>
	  						<td class="v3">Property 16</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">17</td>
	  						<td class="v3">Property 17</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">18</td>
	  						<td class="v3">Property 18</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">19</td>
	  						<td class="v3">Property 19</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">20</td>
	  						<td class="v3">Property 20</td>
  						</tr>
  					</tbody>
  				</table>
		  </div>
		  <div class="col"></div>
		  <div class="col"></div>
		  <div class="col"></div>
		</div> <!-- COMPANY PROPERTIES start -->
		<br>
		<br>
		<table> <!-- SALARY PAYMENT DETAILS start -->
			<tbody>
				<tr class="c1">
					<td class="c2">7</td>
					<td class="c5"> </td>
					<td class="c5"> </td>
					<td class="c5"> </td>
					<td class="c5"> </td>
					<td class="c5"> </td>
					<td class="c3">SALARY PAYMENT DETAILS</td>
					<td class="c4"></td>
				</tr>
			</tbody>
		</table>
		<br>
		<div class="row">
		  <div class="col">
		  	<table>
  					<thead class="v1">
  						<td>PAYMENT :</td>
  						<td>NO</td>
  						<td>NAME</td>
  					</thead>
  					<tbody>
  						<tr>
	  						<td></td>
	  						<td class="v2">1</td>
	  						<td class="v3">DAILY</td>
  						</tr>
  						 <tr>
	  						<td></td>
	  						<td class="v2">2</td>
	  						<td class="v3">WEEKLY</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">3</td>
	  						<td class="v3">TWO WEEKLY</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">4</td>
	  						<td class="v3">MONTHLY</td>
  						</tr>
   						<tr>
	  						<td></td>
	  						<td class="v2">5</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">6</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">7</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">8</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">9</td>
	  						<td class="v3"></td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">10</td>
	  						<td class="v3"></td>
  						</tr>
  					</tbody>
  				</table>
		  </div>
		  <div class="col"></div>
		  <div class="col"></div>
		  <div class="col"></div>
		</div> <!-- SALARY PAYMENT DETAILS end -->
		<br>
		<br>
		<table> <!-- OTHER CATEGORY start -->
			<tbody>
				<tr class="c1">
					<td class="c2">8</td>
					<td class="c5"> </td>
					<td class="c5"> </td>
					<td class="c5"> </td>
					<td class="c5"> </td>
					<td class="c5"> </td>
					<td class="c3">OTHER CATEGORY</td>
					<td class="c4"></td>
				</tr>
			</tbody>
		</table>
		<br>
		<div class="row">
		  <div class="col">
		  	<table>
  					<thead class="v1">
  						<td>OTHER :</td>
  						<td>NO</td>
  						<td>NAME</td>
  					</thead>
  					<tbody>
  						<tr>
	  						<td></td>
	  						<td class="v2">1</td>
	  						<td class="v3">Other 1</td>
  						</tr>
  						 <tr>
	  						<td></td>
	  						<td class="v2">2</td>
	  						<td class="v3">Other 2</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">3</td>
	  						<td class="v3">Other 3</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">4</td>
	  						<td class="v3">Other 4</td>
  						</tr>
   						<tr>
	  						<td></td>
	  						<td class="v2">5</td>
	  						<td class="v3">Other 5</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">6</td>
	  						<td class="v3">Other 6</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">7</td>
	  						<td class="v3">Other 7</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">8</td>
	  						<td class="v3">Other 8</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">9</td>
	  						<td class="v3">Other 9</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">10</td>
	  						<td class="v3">Other 10</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">11</td>
	  						<td class="v3">Other 11</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">12</td>
	  						<td class="v3">Other 12</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">13</td>
	  						<td class="v3">Other 13</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">14</td>
	  						<td class="v3">Other 14</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">15</td>
	  						<td class="v3">Other 15</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">16</td>
	  						<td class="v3">Other 16</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">17</td>
	  						<td class="v3">Other 17</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">18</td>
	  						<td class="v3">Other 18</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">19</td>
	  						<td class="v3">Other 19</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">20</td>
	  						<td class="v3">Other 20</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">21</td>
	  						<td class="v3">Other 21</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">22</td>
	  						<td class="v3">Other 22</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">23</td>
	  						<td class="v3">Other 23</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">24</td>
	  						<td class="v3">Other 24</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">25</td>
	  						<td class="v3">Other 25</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">26</td>
	  						<td class="v3">Other 26</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">27</td>
	  						<td class="v3">Other 27</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">28</td>
	  						<td class="v3">Other 28</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">29</td>
	  						<td class="v3">Other 29</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">30</td>
	  						<td class="v3">Other 30</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">31</td>
	  						<td class="v3">Other 31</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">32</td>
	  						<td class="v3">Other 32</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">33</td>
	  						<td class="v3">Other 33</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">34</td>
	  						<td class="v3">Other 34</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">35</td>
	  						<td class="v3">Other 35</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">36</td>
	  						<td class="v3">Other 36</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">37</td>
	  						<td class="v3">Other 37</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">38</td>
	  						<td class="v3">Other 38</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">39</td>
	  						<td class="v3">Other 39</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">40</td>
	  						<td class="v3">Other 40</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">41</td>
	  						<td class="v3">Other 41</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">42</td>
	  						<td class="v3">Other 42</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">43</td>
	  						<td class="v3">Other 43</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">44</td>
	  						<td class="v3">Other 44</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">45</td>
	  						<td class="v3">Other 45</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">46</td>
	  						<td class="v3">Other 46</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">47</td>
	  						<td class="v3">Other 47</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">48</td>
	  						<td class="v3">Other 48</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">49</td>
	  						<td class="v3">Other 49</td>
  						</tr>
  						<tr>
	  						<td></td>
	  						<td class="v2">50</td>
	  						<td class="v3">Other 50</td>
  						</tr>
  					</tbody>
  				</table>
		  </div>
		  <div class="col"></div>
		  <div class="col"></div>
		  <div class="col"></div>
		</div> <!-- SALARY PAYMENT DETAILS end -->
	</div> <!-- container end -->
	<br>
</body>
</html>